.fullscreen-container {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.flex-center-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.horizontal-center {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.loading-progress {
	width: 512px !important;
}

.loading-progress-bar {
	animation: 1.5s ease 0s 1 normal none running animate-positive !important;
	opacity: 1 !important;
}

.grid-editor-container {
	display: grid;
	grid-template-rows: 64px 1fr 64px;
}

.inner-editor-container {
	margin-left: 64px;
	margin-right: 64px;
	display: grid;
	grid-template-columns: 8fr 1fr 7fr;
}

.no-margin-bottom {
	margin-bottom: 0 !important;
}

.no-margin-top {
	margin-top: 0 !important;
}

.less-margin-bottom {
	margin-bottom: 6px !important;
}

.controls {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-left: 2rem;
	padding-right: 2rem;
}

.timeline {
	flex-grow: 1;
}

.spaced-button {
	margin-left: 1rem;
}

.spaced-button-right {
	margin-right: 1rem;
}

.vertical-line {
	background-color: #31344b;
	width: 1px;
	margin-left: auto;
	margin-right: auto;
	height: 90%;
	opacity: 20%;
}

.editor-ui-container {
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.editor-ui-text {
	font-size: 0.875rem;
	font-weight: 600;
	color: #31344b !important;
}

.flex-summary-image-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-top: 1rem;
}

.existing-images {
	flex-grow: 1;
	margin-top: 1rem;
	max-height: 10rem;
	overflow-x: auto;
}

.flex-transcript-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.summary-text {
	flex-grow: 1;
	overflow-y: scroll;
}

.image-selector {
	height: 100%;
	display: flex;
	width: auto;
}

.thumbnail {
	height: 100%;
	width: auto;
	object-fit: contain;
	margin-right: 0.5rem;
}

.marker {
	position: absolute;
	z-index: 999;
	background-color: #31344b;
	height: 16px;
	width: 3px;
	border-radius: 2px;
}

.marker-with-timestamp {
	position: absolute;
	z-index: 9999;
	background-color: #e6e7ee;
	height: 16px;
	width: 32px;
	cursor: grab;
}

.editor-cursor-timestamp {
	font-size: 10px;
	font-weight: 600;
	color: #31344b !important;
}

.timeline-overlay-blue {
	position: absolute;
	z-index: 99;
	height: 7px;
	background-color: rgba(102, 168, 255, 0.5)
}

.timeline-overlay-purple {
	position: absolute;
	z-index: 99;
	height: 7px;
	background-color: rgba(186, 102, 255, 0.5)
}

.margin-up {
	margin-top: 1rem;
}

.grid-view-container {
	display: grid;
	grid-template-rows: 64px 1fr;
}

.flex-top-navigation-container {
	display: flex;
	padding-left: 16px;
	padding-right: 16px;
	align-items: center;
	justify-content: space-between;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
	box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
}

.text-viewer {
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	height: 1280px;
}